	<div class="box box_orange_shade">
		<h2 class="top"><%= @post.title %></h2>
		<div class="middle clear_fix">
			<p><%= link_to 'Edit', edit_post_path(@post)%>
			<p class="p_spacer"><%= @post.body %></p>
		</div>
	</div>
	<div class="comments">
		<%= render 'comments/list' %>
		<%= link_to 'Add a comment', new_comment_path(@post.id), :remote => true%>
		
	</div>
