<div class='box box_gray'>
	<div class='top'></div>
	<div class='box_gray_inner'>
		<h2 class='cartouche'>Login</h2>
		<div class='middle clear_fix'>
			<%= form_tag '/user_sessions' %>
			<div class='login_field'>
				<p><%= label_tag :login %><%= text_field_tag :login %></p>

				<p><%= label_tag :password %><%= password_field_tag :password %></p>

				<div class='button'>
					<%= submit_tag value = 'Login' %>
				</div>
			</div>
		</div>
	</div>
</div>
