$("a[href='<%=login_path%>']").fadeOut();
$(".columns_right").append("<div class='box box_gray'>	<div class='top'></div>	<div class='box_gray_inner'>		<h2 class='cartouche'>Login</h2>		<div class='middle clear_fix'>			<div class='form_container'><%= escape_javascript(form_tag '/user_sessions') %>			<div class='login_field'>				<p><%=escape_javascript(label_tag :login) %><%=escape_javascript(text_field_tag :login) %></p>				<p><%=escape_javascript(label_tag :password) %><%=escape_javascript(password_field_tag :password) %></p>				<div class='button'>					<%=escape_javascript(submit_tag value = 'Login')%>				</div>			</div>		</div>	</div></div></div>");
$("form").attr("data-remote", true);
