<div class="columns_right">
	<div class="box box_gray">
		<div class="top"></div>
		<div class="box_gray_inner">
			<h2 class="cartouche">Navigation</h2>
			<div class="middle clear_fix">
				<p><%= link_to 'Index', posts_path %></p>
				<p><%= link_to 'New Post', new_post_path %></p>
				<p><%= link_to 'Create user', '/users' %></p>
			</div>
		</div>
	</div>
	<% if current_user %>
		<%puts "Utilisateur ok"%>
		<%= link_to "Sign out", logout_path %>
	<% else %>
		<%puts "Utilisateur non ok" %>
		<%=render 'layouts/login'%>
	<%end%>
</div>
