<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag	"application" %>
	<%= stylesheet_link_tag "styles"%>
	<%= stylesheet_link_tag "box"%>
	<%= stylesheet_link_tag "global"%>
	<%= stylesheet_link_tag "user_sessions"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
	<%=render "layouts/header" %>
	<div class="content_duality clear_fix">
		<% if flash[:notice] %>
		<div class="flash">
			<%= flash[:notice] %>
		</div>
		<%end%>
		<div class="columns_left_middle"><%= yield %></div>
		<div class="columns_right">
			<%=render "layouts/menu" %>
		</div>
	</div>
</div>
</body>
</html>
